.prjectsSection {
    padding: 0;
}

.projectsTitle {
    text-align: start;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
}

.mainContainer {
    padding: 100px 20px;
    background-color: #266AD9;
}

.projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    min-width: 260px;
}

li {
    list-style: none;
    cursor: pointer;
}

li:hover {
    color: #262E34;
}

.projectCard {
    width: 920px;
    height: 384px;
    border-radius: 30px;
    background-color: #2F4563;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 0;
}

.bodyContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentContainer {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.contentContainer span {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
}

.skillContainer {
    display: flex;
    align-items: center;
}

.skillCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 6px;
    gap: 4px;
    background-color: #fff;
    margin-right: 4px;
}

.skillCard img {
    max-width: 42px;
    max-height: 42px;
    min-height: 32px;;
}

.skillCard span {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #262E34;
}

.buttonContainer {
    display: flex;
    gap: 16px;
}

.btn2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    background-color: #266AD9;
    color: #fff;
    border: none;
    padding: 14px 20px;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration-line: none;
    text-decoration: none;
}

.btn2:hover {
    background-color: #5696FF;
    color: #fff;
    text-decoration-line: none;
    text-decoration: none;
}

.btn3 {
    gap: 10px;
    opacity: 1;
    border-radius: 30px;
    padding: 14px 20px;
    color: #fff;
    border: 1px solid #fff;
}

.btn3:hover {
    color: #FFF;
    background-color: #FFFFFF29;
    text-decoration-line: none;
    text-decoration: none;
}