.hero {
  background-color: #266AD9;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroTextContainer {
    max-width: 640px;
    display: flex;
    flex-direction: column;
}

.heroImageContainer {
  max-width: 500px;
}

.heroName {
    font-size: 88px;
    font-weight: 700;
}

.greetText {
    font-weight: 400;
    line-height: 120%;
    font-size: 32px;
}

.role {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 40px;
}

.aboutMe {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

.btn1 {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  background-color: white;
  color: #266AD9;
  border: none;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.heroImage {
  border-radius: 30px;
}

.highlight {
  color: var(--ifm-color-primary);
}

.heroImageMobile {
  display: none;
}



/* Media-Queries */
@media (max-width: 1200px) {
  .heroImageContainer {
    display: none;
  }

  .heroImageMobile {
    display: block;
    border-radius: 30px;
    max-width: 300px;
    width: 100%;
    margin: 20px 0;
  }

  .container {
    height: unset;
    justify-content: center;
  }

  .heroTextContainer {
    align-items: center;
    margin-bottom: 60px;
  }

}
