/* .skillsSection {
  padding: 0px 20px;
} */

.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.skillsTitle {
    font-weight: 700;
    font-weight: Bold;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0%;
}

.skillCardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    padding-bottom: 100px;
}

.skillCard {
    width: 370px;
    height: 200px;
    border-radius: 30px;
    background-color: #91C9F31A;
    padding: 42px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillImage {
    /* max-width: 80px; */
    max-height: 80px;
}



/* Media-Queries */
@media (max-width: 1200px) {
    .skillsContainer {
        align-items: center;
        justify-content: center;
    }

    .skillsTitle{
        margin-top: 60px;
        margin-bottom: 48px;
    }

}