.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    height: 60px;
    width: 100%;
    z-index: 10;
    top: 0;
    position: sticky;
    background-color: #266AD9;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.logo:hover {
    text-decoration: underline #fff;
}

.logo img {
    height: 2.6rem;
    width: auto;
}

.logo span {
    color: #fff;
}

.navItems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20px;
}

.navItems li {
    text-decoration: none;
    list-style: none;
}

.navItems li a {
    color: #fff;
}